{% extends "public.html" %}
{% block content %}


<div style="
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
">
    <img style="
        position: absolute;
        top: -9999px;
        left: -9999px;
        right: -9999px;
        bottom: -9999px;
        margin: auto;
    " src="{{ event.cover_image }}?auto=compress&cs=tinysrgb&dpr=1&w=1080" width="100%" />
</div>


<div class="container">

    <h1>{{ event.title }}</h1>
    <p>

        {{ event.start_time | date("d/m/Y H:i") }} - {{ event.end_time | date("d/m/Y H:i") }}<br />
    </p>
    <p>
        {{event.description}}
    </p>
    {% if tickets|length > 0 %}
    <h2>Tickets available</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="row"></th>
                <td scope="row">Price</td>
                <td scope="row">Max seats</td>
                <td scope="row">Seats Available</td>
                <td scope="row"></td>
            </tr>
        </thead>
        {% for ticket in tickets %}
        <tr>
            <th scope="row"> {{ ticket.name }} </th>
            <td>
                {% if ticket.price == 0 %}
                <em>free</em>
                {% else %}
                {{ ticket.price }} {{ ticket.currency }}
                {% endif %}
            </td>
            <td> {{ ticket.max_tickets }} </td>
            <td> 000 </td>
            <td> <button class="btn btn-primary" href="#">Buy</button> </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <p>
        <a href="/events/" class="btn btn-primary">Back to Events</a>
    </p>

</div>
{% endblock %}